.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
}
.not-found-heading {
  font-size: 32px;
  font-weight: 500;
  font-family: 'roboto';
  color: #fff;
}
.not-found-paragraph {
  font-size: 14px;
  font-weight: 500;
  font-family: 'roboto';
  color: #fff;
}